<div class="manage-flights-container">
  <h2 *ngIf="showHeader" class="title">Book a Flight</h2>
  <table class="flights-table">
    <thead>
    <tr>
      <th (click)="sortTable('flightNumber')">
        Flight Number
        <i class="fas" [ngClass]="getSortIcon('flightNumber')"></i>
      </th>
      <th (click)="sortTable('originCode')">
        Origin
        <i class="fas" [ngClass]="getSortIcon('originCode')"></i>
      </th>
      <th (click)="sortTable('destination.name')">
        Destination
        <i class="fas" [ngClass]="getSortIcon('destination.name')"></i>
      </th>
      <th (click)="sortTable('boardingDate')">
        Boarding Date
        <i class="fas" [ngClass]="getSortIcon('boardingDate')"></i>
      </th>
      <th (click)="sortTable('boardingTime')">
        Boarding Time
        <i class="fas" [ngClass]="getSortIcon('boardingTime')"></i>
      </th>
      <th (click)="sortTable('arrivalDate')">
        Arrival Date
        <i class="fas" [ngClass]="getSortIcon('arrivalDate')"></i>
      </th>
      <th (click)="sortTable('arrivalTime')">
        Arrival Time
        <i class="fas" [ngClass]="getSortIcon('arrivalTime')"></i>
      </th>
      <th (click)="sortTable('seatCount')">
        Seat Count
        <i class="fas" [ngClass]="getSortIcon('seatCount')"></i>
      </th>
      <th (click)="sortTable('takenSeats')">
        Seats Taken
        <i class="fas" [ngClass]="getSortIcon('takenSeats')"></i>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of flights">
      <td>{{ flight.flightNumber }}</td>
      <td>{{ flight.originCode }}</td>
      <td>{{ flight.destination.name }}</td>
      <td>{{ flight.boardingDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ flight.boardingTime }}</td>
      <td>{{ flight.arrivalDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ flight.arrivalTime }}</td>
      <td>{{ flight.seatCount }}</td>
      <td>{{ flight.takenSeats }}</td>
      <td>
        <a class="edit-button" [routerLink]="['/book-flight', flight.flightNumber]">
          Book
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
