<div class="manage-coupons-container">
  <h2 class="title">Manage Coupons</h2>

  <div class="search-container">
    <input
      type="text"
      placeholder="Search by code or description"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      class="search-input"
    />
  </div>

  <table class="coupons-table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Discount</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Remaining Uses</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coupon of filteredCoupons">
      <td>{{ coupon.code }}</td>
      <td>{{ coupon.discountPercentage }}%</td>
      <td>{{ coupon.startDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ coupon.endDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ coupon.remainingUses }}</td>
      <td>
          <span class="status" [ngClass]="coupon.isActive ? 'active' : 'disabled'">
            {{ coupon.isActive ? 'Active' : 'Disabled' }}
          </span>
      </td>
      <td class="action-icons">
        <mat-icon class="icon" (click)="navigateToView(coupon.code)">visibility</mat-icon>
        <mat-icon class="icon" (click)="navigateToEdit(coupon.code)">edit</mat-icon>
        <mat-icon
          class="icon"
          (click)="coupon.isActive ? toggleCouponStatus(coupon.code, true) : toggleCouponStatus(coupon.code, false)">
          {{ coupon.isActive ? 'delete' : 'check_circle' }}
        </mat-icon>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="actions-container">
    <button class="add-button" [routerLink]="['/add-coupon']">
      <mat-icon>add</mat-icon>
      Add Coupon
    </button>
  </div>
</div>
