<div class="container">
  <mat-accordion>
    <!-- Upcoming Flights -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-calendar-check"></i> Upcoming Bookings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let booking of upcomingBookings" class="booking-card">
        <img [src]="booking.image" alt="Destination" class="destination-img" />
        <div class="booking-info">
          <p><strong>Origin:</strong> {{ booking.origin }}</p>
          <p><strong>Destination:</strong> {{ booking.arrival }}</p>
          <p><strong>Boarding Time:</strong> {{ formatDate(booking.boardingTime)}}</p>
          <p><strong>Landing Time:</strong> {{ formatDate(booking.landingTime)}}</p>
          <p><strong>Number of passengers:</strong> {{ booking.passengerCount }}</p>
        </div>
        <button class="view-booking-btn" (click)="viewBooking(booking.bookingId)">
          <i class="fas fa-eye"></i> View Booking
        </button>
      </div>
    </mat-expansion-panel>

    <!-- Previous Flights -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-history"></i> Previous Bookings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let booking of previousBookings" class="booking-card">
        <img [src]="booking.image" alt="Destination" class="destination-img" />
        <div class="booking-info">
          <p><strong>Origin:</strong> {{ booking.origin }}</p>
          <p><strong>Destination:</strong> {{ booking.arrival }}</p>
          <p><strong>Boarding Time:</strong> {{ formatDate(booking.boardingTime)}}</p>
          <p><strong>Landing Time:</strong> {{ formatDate(booking.landingTime)}}</p>
          <p><strong>Number of passengers:</strong> {{ booking.passengerCount }}</p>
        </div>
        <button class="view-booking-btn" (click)="viewBooking(booking.bookingId)">
          <i class="fas fa-eye"></i> View Booking
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
