.manage-flights-container {
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000;
}

.flights-table {
  width: 100%;
  border-collapse: collapse;
}

.flights-table th,
.flights-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.flights-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.flights-table tr:hover {
  background-color: #f9f9f9;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(90deg, #007bff, #0056b3);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: none;
}

.edit-button mat-icon {
  font-size: 14px;
}

.edit-button:hover {
  background: linear-gradient(90deg, #0056b3, #007bff);
  transform: translateY(-1px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.search-container {
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
