<div class="manage-flights-container">
  <h2 *ngIf="showHeader" class="title">Book a Flight</h2>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search by destination or origin"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      class="search-input"
    />
  </div>
  <table class="flights-table">
    <thead>
    <tr>
      <th (click)="sortTable('flightNumber')">
        Flight Number
        <i class="fas" [ngClass]="getSortIcon('flightNumber')"></i>
      </th>
      <th (click)="sortTable('origin.name')">
        Origin
        <i class="fas" [ngClass]="getSortIcon('origin.name')"></i>
      </th>
      <th (click)="sortTable('arrival.name')">
        Destination
        <i class="fas" [ngClass]="getSortIcon('arrival.name')"></i>
      </th>
      <th (click)="sortTable('boardingDate')">
        Boarding Date
        <i class="fas" [ngClass]="getSortIcon('boardingDate')"></i>
      </th>
      <th (click)="sortTable('arrivalDate')">
        Arrival Date
        <i class="fas" [ngClass]="getSortIcon('arrivalDate')"></i>
      </th>
      <th (click)="sortTable('seatCount')">
        Seat Count
        <i class="fas" [ngClass]="getSortIcon('seatCount')"></i>
      </th>
      <th (click)="sortTable('takenSeats')">
        Seats Taken
        <i class="fas" [ngClass]="getSortIcon('takenSeats')"></i>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of filteredFlights">
      <td>{{ flight.flightNumber }}</td>
      <td>{{ flight.origin?.name }}</td>
      <td>{{ flight.arrival?.name }}</td>
      <td>{{ flight.boardingDate | date: 'dd-MM-yyyy HH:mm'}}</td>
      <td>{{ flight.arrivalDate | date: 'dd-MM-yyyy HH:mm' }}</td>
      <td>{{ flight.seatCount }}</td>
      <td>{{ flight.takenSeats }}</td>
      <td>
        <a class="edit-button" [routerLink]="['/book-flight', flight.flightNumber]">
          Book
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
