<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="sidenav" [opened]="isMenuOpen">
    <menu-component (menuItemClicked)="onMenuItemClick()"></menu-component>
  </mat-sidenav>

  <mat-sidenav-content class="main-content-container">
    <ono-air-header [matDrawer]="drawer"></ono-air-header>
    <main class="content-container">
      <router-outlet></router-outlet>
    </main>
    <ono-air-footer></ono-air-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
