<div *ngIf="flight" class="edit-flight-container">
  <h2>Edit Flight</h2>
  <form #editForm="ngForm">
    <label for="flightNumber">Flight Number:</label>
    <input type="text" id="flightNumber" [(ngModel)]="flight.flightNumber" name="flightNumber" disabled />

    <label for="origin">Origin:</label>
    <input type="text" id="origin" [value]="flight.origin?.name" name="origin" disabled />
    <label for="arrival">Destination:</label>
    <input type="text" id="arrival" [value]="flight.arrival?.name" name="arrival" disabled />
    <label for="boardingDate">Boarding Date:</label>
    <input type="date" id="boardingDate" [(ngModel)]="flight.boardingDate" name="boardingDate" required />

    <label for="arrivalDate">Arrival Date:</label>
    <input type="date" id="arrivalDate" [(ngModel)]="flight.arrivalDate" name="arrivalDate" required />

    <label for="seatCount">Seat Count:</label>
    <input type="number" id="seatCount" [(ngModel)]="flight.seatCount" name="seatCount" required />

    <label for="takenSeats">Seats Taken:</label>
    <input type="number" id="takenSeats" [(ngModel)]="flight.takenSeats" name="takenSeats" required />

    <label for="price">Price:</label>
    <input type="number" id="price" [(ngModel)]="flight.price" name="price" required />

    <div class="button-container">
      <button type="button" (click)="openConfirmDialog()" [disabled]="editForm.invalid">
        Save Changes
      </button>
      <button type="button" class="cancel-button" (click)="cancelEdit()">
        Cancel
      </button>
    </div>
  </form>
</div>
