<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="sidenav" [opened]="isMenuOpen">
    <menu-component></menu-component>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="header">
      <button class="menu-toggle" (click)="toggleDrawer()">
        <i class="fas fa-bars"></i>
      </button>
      <h1>OnoAir</h1>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <ono-air-footer></ono-air-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
