<div class="manage-destinations-container">
  <h2 class="title">Manage Destinations</h2>
  <table class="destinations-table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Airport Name</th>
      <th>Airport URL</th>
      <th>Image URL</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let destination of destinations">
      <td>{{ destination.code }}</td>
      <td>{{ destination.name }}</td>
      <td>{{ destination.airportName }}</td>
      <td><a [href]="destination.airportUrl" target="_blank">{{ destination.airportUrl}}</a></td>
      <td>{{ destination.imageUrl }}</td>
      <td>
        <button class="edit-button" [routerLink]="['/edit-destination', destination.code]">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
